# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
*.class

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.project
.classpath

# Logs y temporales
*.log
*.tmp

# Entorno y secretos
.env
.env.local

# SO
.DS_Store
Thumbs.db
